/* -------- font-face-------- */
 @font-face {
    font-family: "poppinsRegular";
    src: url(../fonts/Poppins-Regular.ttf) format("truetype");
  }

  @font-face {
    font-family: "poppinsMedium";
    src: url(../fonts/Poppins-Medium.ttf) format("truetype");
  }

  @font-face {
    font-family: "poppinsBold";
    src: url(../fonts/Poppins-Bold.ttf) format("truetype");
  }

  @font-face {
    font-family: "poppinsSemiBold";
    src: url(../fonts/Poppins-SemiBold.ttf) format("truetype");
  }

  @font-face {
    font-family: "poppinsBlack";
    src: url(../fonts/Poppins-Black.ttf) format("truetype");
  }

/* -------- reset file-------- */ 
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
    text-decoration: none;
}

/* ---------------Start of customized styles----------------- */
:root{
    --primaryColor:#0ABEAD;
    --secondColor:#F57F17;
    --purple:#8540FF;
    --purple2:#803AFB;
    --yellow:#FFC50C;
    --magenta:#EC407A;
    --pink:#F5276C;
    --orange:#FF6331;
    --blue:#13B6FF;
    --tiffany:#0CBFAE ;
    --green:#49AF46;
    --black:#333333;
    --white:#FFFFFF;
    --primaryFontR:"poppinsRegular";
    --primaryFontM:"poppinsMedium";
    --primaryFontB:"poppinsBold";
    --primaryFontSB:"poppinsSemiBold";
    --primaryFontBl:"poppinsBlack";
}
html{
    box-sizing: border-box;
    font-size: 62.5%; /*10px */
    scroll-behavior: smooth;
}
*,*::after,*::before{
    box-sizing: inherit;
}
body{
    font-size: 1.6rem;
    font-family: var(--primaryFontR);
    line-height: 1.5;
    background-color: var(--white);
    color: var(--black);
    padding: 0 !important;
    margin: 0 !important;
}
/* ----------- Utilities -------- */
.button{
    background-color: transparent;
    width: 20rem;
    height: 6rem;
    border-radius: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    font-family: var(--primaryFontSB);
}
.button--Orange{
    background-color: var(--secondColor);
    box-shadow: 0 1rem 1.5rem rgba(245, 127, 23, 24%);
}
.button--Blue{
    background-color: var(--primaryColor);
    box-shadow: 0 1rem 1.5rem rgba(11, 190, 173, 41%);
}
.sectionHead{
    color: var(--primaryColor);
    text-align: center;
    padding-bottom: 6rem;
}
.sectionHead__title{
    font-family: var(--primaryFontB);
    font-size: 4.8rem;
}
.sectionHead__caption{
    position: relative;
    letter-spacing: 0.3rem;
}
.sectionHead__caption--color{
    color: var(--black);
}
.sectionHead__caption::after{
    content: '';
    width: 24rem;
    height: 0.2rem;
    position: absolute;
    background-color: var(--primaryColor);
    bottom: -2rem;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.sectionHead__caption::before{
    content: '';
    width: 3.9rem;
    height: 1.1rem;
    position: absolute;
    background-color: var(--primaryColor);
    bottom: -2.4rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-radius: 5rem;
}
.boxShadow{
    box-shadow: 0 0.5rem 4rem rgba(96, 233, 255, 27%);
}
.skewReset{
    transform: skewY(6deg);
}

/* -------- header style-------- */
.header{
    background-color: var(--white);
    box-shadow: 0 0.5rem 4rem rgba(4, 195, 255, 16%);
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 12;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 6;
}
.menu{
    display: flex;
    align-items: center;
    font-family: var(--primaryFontM);
}
.menu__item{
    margin-right: 4rem;
}
.menu__item:last-child{
    margin-right:0;
}
.menu__link{
    color: var(--black);
}
.menu__link--active{
    color: var(--primaryColor) ;
}
.nav__hamburgerMenu{
    width: 5rem;
    height: 5rem;
    border-radius: 1.5rem;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    display: none;
}
.nav__hamburgerMenu--line{
    width: 3.5rem;
    height: 0.3rem;
    border-radius: 2rem;
    background-color: var(--primaryColor);
    position: relative;
    transition: all 100ms ease-in;
}
.nav__hamburgerMenu--line::before,
.nav__hamburgerMenu--line::after{
    content: '';
    width: 3.5rem;
    height: 0.3rem;
    border-radius: 2rem;
    background-color: var(--primaryColor);
    position: absolute;
    transition: all 150ms ease-in;
}
.nav__hamburgerMenu--line::before{
    top: 0.8rem;
}
.nav__hamburgerMenu--line::after{
    top: -0.8rem;
}
.nav__hamburgerMenu--open .nav__hamburgerMenu--line{
    background-color: transparent;
}
.nav__hamburgerMenu--open .nav__hamburgerMenu--line::before{
    transform: translateY(-8px) rotate(-45deg);
}
.nav__hamburgerMenu--open .nav__hamburgerMenu--line::after{
    transform: translateY(8px) rotate(45deg);
}

/* -------- home style-------- */
.home{
    background: url("../images/shapes/header-shape.svg") no-repeat;
    background-position: bottom;
    background-size: contain;
    margin-top: 12rem;
    height: 64rem;
}
.home__Name{
    font-family: var(--primaryFontSB);
    font-size: 2.8rem;
    color: var(--tiffany);
}
.home__Name > span{
    color: var(--secondColor);
}
.home__Title{
    font-family: var(--primaryFontB);
    font-size: 5rem;
    color: var(--primaryColor);
}
.home__Caption{
    opacity: 0.7;
}
.home__links{
    display: flex;
    margin-top: 3rem;
}
.home__link:last-child{
    margin-left: 4rem;
}
.home__Picture{
    background: url("../images/header-avatar.jpg") no-repeat;
    background-position: 52% 50% ;
    background-size: cover;
    width: 38rem;
    height:38rem;
    border-radius: 50rem;
    border: white solid 1rem;
    box-shadow: 0 0.5rem 4rem rgba(96, 233, 255, 27%);
}
/* -------- about style-------- */
.aboutUs{
    margin: 8rem 0;
}
.aboutUs__boximg{
    height: 100%;
}
.aboutUs__img{
    width: 100%;
    height: 100%;
}
.aboutUs__content{
    background-color: var(--white);
    padding: 3rem 4rem;
}
.aboutUs__title{
    font-family: var(--primaryFontSB);
    font-size: 2.4rem;
}
.aboutUs__caption{
    margin-top: 1.5rem;
    margin-bottom: 6rem;
}
.aboutUs__listTitle{
    font-family: var(--primaryFontSB);
    font-size: 1.8rem;
    color: var(--primaryColor);
}
.aboutUs__list{
    margin-top: 0.8rem;
}
.aboutUs__listItem{
    position: relative;
    margin-left: 4rem;
}
.aboutUs__listItem::before{
    content: '';
    position: absolute;
    background-color: var(--secondColor);
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 5rem;
    top: 0.5rem;
    left: -2.8rem;
}
.aboutUs__links{
    margin-top: 5rem ;
    display: flex;
}
.aboutUs__link:last-child{
    margin-left: 3rem;
}
/* -------- Services style-------- */
.service__Card{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--white);
    padding: 6rem 4rem;
    margin-bottom: 1.5rem;
    overflow: hidden;
}
.service__Card--purple{
    background-color: var(--purple);
    box-shadow: 0 0.5rem 4rem rgba(188, 13, 255, 35%);
}
.service__Card--yellow{
    background-color: var(--yellow);
    box-shadow: 0 0.5rem 4rem rgba(255, 197, 12, 35%);
}
.service__Card--magenta{
    background-color: var(--magenta);
    box-shadow: 0 0.5rem 4rem rgba(236, 64, 122, 35%);
}
.service__Card--orange{
    background-color: var(--orange);
    box-shadow: 0 0.5rem 4rem rgba(255, 99, 49, 35%);
}
.service__Card--blue{
    background-color: var(--blue);
    box-shadow: 0 0.5rem 4rem rgba(19, 182, 255, 35%);
}
.service__Card--green{
    background-color: var(--green);
    box-shadow: 0 0.5rem 4rem rgba(73, 175, 70, 35%);
}
.serviceCard__shape{
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    bottom: -3.5rem;
}
.serviceCard__title{
    font-family: var(--primaryFontB);
    font-size: 2.4rem;
    z-index: 5;
    margin: 1.5rem 0;
}
.serviceCard__caption{
    text-align: center;
    z-index: 5;
}
/* -------- Resume style-------- */
.resume{
    margin: 14rem 0;
    background-color: var(--white);
    transform: skewY(-6deg);
    padding: 4rem 0;
}
.resume__list{
    background-color: var(--white);
    position: relative;
    z-index: 4;
    padding: 1rem 0;
    height: 100%;
}
.resume__list::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 4.2rem;
    height: 100%;
    background-color: var(--primaryColor);
    z-index: -1;
}
.resumelist__item{
    display: flex;
    align-items: center;
    margin: 4rem 0;
    position: relative;
    padding: 0.6rem 0;
    cursor: pointer;
}
.resumelist__item::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 6rem;
    height: 100%;
    background-color: var(--primaryColor);
    border-top-right-radius: 5rem;
    border-bottom-right-radius: 5rem;
    z-index: -2;
    transition: all  0.3s ease-in;
    max-width: 28rem;
}
.resumelist__item--active{
    color: #fff;
}
.resumelist__item--active::before{
    width: 100%;
}
.resumelist__icon{
    margin-left: 1rem;
}
.resumelist__text{
    display: flex;
    font-family: var(--primaryFontSB);
    font-size: 2rem;
    margin-left: 4rem;
}
.resume__content{
    margin-left: 8rem;
    border-left: 0.3rem solid var(--primaryColor);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 3rem;
    display: none;
}
.resume__content--show{
    display: flex;
}
.resumeContent__item{
    margin-bottom: 2rem;
}
.resumeContent__item:last-child{
    margin-bottom: 0;
}
.resumeitem__head{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    position: relative;
}
.resumeitem__head::before{
    content: '';
    width: 1.9rem;
    height: 1.9rem;
    position: absolute;
    top: 0.8rem;
    left: -4.1rem;
    background-color: var(--primaryColor);
    border-radius: 5rem;   
}
.resumeitem__title{
    font-family: var(--primaryFontSB);
    font-size: 2rem;
    color: #FF5823;
}
.resumeitem__date{
    background-color: #F57F17;
    box-shadow: 0 0.5rem 1.5rem rgba(245, 127, 23, 24%);
    color: var(--white);
    border-radius: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 11rem;
}
.resumeContent__captionTitle{
    font-family: var(--primaryFontSB);
    margin-bottom: 0.5rem;
}
/* -------- Portfolio style-------- */
.portfolio__list{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4.5rem;
    flex-wrap: wrap;
}
.portfolioList__item{
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0 3rem;
    text-align: center;
    cursor: pointer;
}
.portfolioList__item--active{
    width: 15.7rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5rem;

    background-color: var(--primaryColor);
    color: var(--white);
}
.portfolioContent__img{
    width: 100%;
}
.swiper-pagination-bullet{
    width: 1.8rem !important;
    height: 1.8rem !important;
    background-color: var(--white) !important;
    border: 0.3rem solid #BFBEBE !important;
}
.swiper-pagination-bullet-active{
    border-color: var(--primaryColor) !important;
}
.swiper-pagination{
    position: static !important;
    margin-top: 1rem;
}
/* -------- Pricing style-------- */
.pricing{
    margin: 14rem 0;
    background-color: var(--white);
    transform: skewY(-6deg);
    padding: 3rem 0 10rem 0;
}
.pricing__card{
    width: 100%;
    height: 100%;
    box-shadow: 0 0.5rem 1.5rem rgba(96, 233, 255, 27%);
}
.pricingCard__head{
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
}
.pricingCard__title{
    font-family: var(--primaryFontSB);
    font-size: 3.6rem;
}
.pricingCard__price{
    font-family: var(--primaryFontSB);
    font-size: 2.4rem;
}
.pricingCard__body{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem 0;
}
.pricingCard__item{
   margin-bottom: 2rem;
}
.pricingCard__icon{
    margin-right: 1rem;
}
.pricingCard__buttom{
    width: 20rem;
    height: 6rem;
    border-radius: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.pricingCard__buttom > a {
    color: var(--white);
    font-family: var(--primaryFontSB);
}
.pricingCard__buttom--orange, .pricingCard__head--orange{
    background-color: var(--orange);
}
.pricingCard__buttom--orange{
    box-shadow: 0 0.5rem 1.5rem rgba(245, 127, 23, 24%);
}
.pricingCard__buttom--purple, .pricingCard__head--purple{
    background-color: var(--purple2);
}
.pricingCard__buttom--purple{
    box-shadow: 0 0.5rem 1.5rem rgba(128, 58, 251, 24%);
}
.pricingCard__buttom--pink, .pricingCard__head--pink{
    background-color: var(--pink);
}
.pricingCard__buttom--pink{
    box-shadow: 0 0.5rem 1.5rem rgba(245, 39, 108, 24%);
}
/* --------  contactUs style -------- */
.contactUs__background{
    background: url(../images/map.jpg) no-repeat;
    background-size: cover;
    height: 70rem;
    position: relative;
}
.contactUs__mapIcon{
    background-color: var(--white);
    width: 6rem !important;
    height: 6rem;
    border-radius: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(96, 233, 255, 0.15) 0px 5px 15px 0px;
    position: absolute;
    top: 27rem;
    left: 40rem;
}
.form{
    width: 100%;
    background-color: var(--white);
    box-shadow: rgba(19, 182, 255, 24%) 0 1rem 5rem;
    padding: 3rem 2rem;
    margin-top: 3rem;
   
}
.form__title{
    font-family: var(--primaryFontB);
    font-size: 3.6rem;
    color: var(--primaryColor);
}
.form__input{
    display: flex;
    width: 100%;
    height: 5rem;
    margin: 2rem 0;
    outline: none;
    border: none;
    border-radius: 0.8rem;
    box-shadow: rgba(19, 182, 255, 24%) 0 1rem 5rem;
    padding-left: 2rem;
}
.form__input::placeholder , .form__textarea::placeholder{
    color: var(--black);
    font-family: var(--primaryFontR);
    font-size: 1.6rem;
}
.form__textarea{
    box-shadow: rgba(19, 182, 255, 24%) 0 1rem 5rem;
    border: none;
    border-radius: 1rem;
    outline: none;
    resize:none;
    width: 100%;
    height: 16rem;
    margin-bottom: 1.5rem;
    padding-left: 2rem;
    padding-top: 1.5rem;
}

.form__button{
    border: none;
    background-color: var(--primaryColor);
    font-family: var(--primaryFontSB);
    font-size: 1.8rem;
    color: var(--white);
    width: 100%;
    height: 5rem;
    border-radius: 5rem;
}
/* --------  footer style -------- */
.footer{
    height: 10rem;
    display: flex;
    align-items: center;
}
.footer__text{
    font-family: var(--primaryFontSB);
    font-size: 1.8rem;
    letter-spacing: 0.5rem;
}
.footer__list{
    display: flex;
    justify-content: end;
}
.footerList__item{
    width: 4.5rem;
    height: 4.5rem;
    background-color: var(--black);
    fill: var(--white);
    border-radius: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
    transition: all 4ms ease-in-out;
}
.footerList__item:hover{
    background-color: var(--primaryColor);
}
.footerList__icon{
    width: 3.5rem;   
}












