@media screen and (max-width: 1200px) {
    .home__Name{
        font-size: 2.6rem;
    }
    .home__Title{
        font-size: 4.5rem;
    }
    .home__Caption{
        font-size: 1.5rem;
    }
    .button{
        width: 18rem;
        height:5rem;
    }
    .home__Picture{
        width: 34rem;
        height: 34rem;
    }
    .home{
        height: 48rem ;
    }
    .serviceCard__title{
        font-size: 2rem;
    }
    .serviceCard__caption{
        font-size: 1.4rem;
    }
    .resume__content{
        margin-left: 1rem;
    }
    .pricingCard__buttom{
        width: 15rem;
        height: 5rem;
    }
    .contactUs__mapIcon{
        top: 30rem;
        left: 22rem;
    }
}

@media screen and (max-width: 992px) {
    .nav__appLogo{
        width: 12rem;
    }
    .menu{
        font-size: 1.4rem;
    }
    .menu__item{
        margin-right: 2.5rem;
    }
    .home__Picture{
        width: 30rem;
        height:30rem;
    }
    .home__Name{
        font-size: 2.4rem;
    }
    .home__Title{
        font-size: 3.5rem;
    }
    .home__Caption{
        font-size: 1.1rem;
    }
    .button{
        width: 14rem;
        height: 4.5rem;
        font-size: 1.4rem;
    }
    .home{
        height: 43rem ;
    }
    .contactUs__mapIcon{
        top: 30rem;
        left: 15rem;
    }

}

@media screen and (max-width: 768px) {
    .menu{
       width: 100%;
       position: absolute;
       top: 100%;
       left: 0;
       right: 0;
       background-color:#fff ;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       transition: all 200ms ease-in;
       height: 0;
       overflow: hidden;
    }
    .menu--open{
        height: 23.8rem;
    }
    .menu__item{
        margin-right:0;
        line-height: 3.4rem;
    }
    .nav__hamburgerMenu{
        display: flex;
    }
    
    
    
}

@media screen and (max-width: 576px) {
    .home{
        background-image: none;
    }
    .aboutUs {
        margin: 14rem 0px;
    }
    .sectionHead__title{
        font-size: 3rem;   
    }
    .sectionHead__caption{
       font-size: 1rem;
    }
    .sectionHead__caption::after{
        width: 15rem;
    }
    .sectionHead__caption::before{
        width:3rem;
    }
    .aboutUs__title{
        font-size: 1.8rem;
    }
    .aboutUs__caption, .aboutUs__listItem{
        font-size: 1.4rem;
    }
    .aboutUs__listTitle{
        font-size: 1.6rem;
    }
    .resume {
        margin: 6rem 0;
    }
    .resumelist__item {
        margin: 1.5rem 0;
    }
    .resumelist__icon {
        width: 2rem;
    }
    .resumelist__text{
        font-size: 1.6rem;
    }
    .resume__content{
        margin-left: 0.9rem;
        margin-top: 4rem;
    }
    .resumeitem__title{
        font-size: 1.8rem;
    }
    .resumeitem__date , .resumeContent__captionTitle,.resumeContent__caption {
        font-size: 1.4rem;
    }
    .portfolio__list{
        justify-content: center;
        margin-bottom: 2rem;
    }
    .pricingCard__buttom{
        width: 20rem;
        height: 6rem;
    }
    .contactUs__mapIcon{
       display: none;
    }
    
}
